#left_menu
  #link
    Line
  #link
    = link_to "Line", { :controller=>'chart_examples', :action => "line" }
  #link
    = link_to "Line Dot", { :controller=>'chart_examples', :action => "line_dot" }
  #link
    = link_to "Line Hollow", { :controller=>'chart_examples', :action => "line_hollow" }
  #link
    = link_to "Many Lines", { :controller=>'chart_examples', :action => "many_lines" }
  #link
    Bar
  #link
    = link_to "Bar", { :controller=>'chart_examples', :action => "bar" }
  #link
    = link_to "Glass Bar", { :controller=>'chart_examples', :action => "glass_bar" }
  #link
    = link_to "3D Bar", { :controller=>'chart_examples', :action => "bar_3d" }
  #link
    = link_to "Sketch Bar", { :controller=>'chart_examples', :action => "sketch_bar" }
  #link
    = link_to "Horizontal Bar", { :controller=>'chart_examples', :action => "horizontal_bar" }
  #link
    = link_to "Stacked Bar", { :controller=>'chart_examples', :action => "stacked_bar" }
  #link
    Area
  #link
    = link_to "Area", { :controller=>'chart_examples', :action => "area" }
  #link
    Pie
  #link
    = link_to "Pie", { :controller=>'chart_examples', :action => "pie" }
  #link
    Scatter
  #link
    = link_to "Scatter", { :controller=>'chart_examples', :action => "scatter" }
  #link
    Mix charts
  #link
    = link_to "Line and Bar", { :controller=>'chart_examples', :action => "mix_line_bar" }
  #link
    Inline charts
  #link
    = link_to "Line", { :controller=>'chart_examples', :action => "inline_line" }
  #link
    = link_to "Many charts", { :controller=>'chart_examples', :action => "inline_many_line" }
