.left_menu
  .main.link.header{ :onclick => "activate_menu('.main');"}
    = render :partial => '/share/sublink', :locals => {:name => "General information", :url => { :controller=>'/documentations/main', :action => 'index'}}
  .main.elements
    = render :partial => '/share/sublink', :locals => {:name => "About documentation", :url => { :controller=>'/documentations/main', :action => 'index'}}
    = render :partial => '/share/sublink', :locals => {:name => "How its's works", :url => { :controller=>'/documentations/main', :action => 'how_it_works' }}

  .graph.link.header{ :onclick => "activate_menu('.graph');"}
    = render :partial => '/share/sublink', :locals => {:name => "Graph", :url => { :controller=>'/documentations/graph', :action => 'index'}}
  .graph.elements
    = render :partial => '/share/sublink', :locals => {:name => "add element", :url => { :controller => '/documentations/graph', :action => :add_element }}
    = render :partial => '/share/sublink', :locals => {:name => "bg_colour", :url => { :controller => '/documentations/graph', :action => :bg_colour }}
    = render :partial => '/share/sublink', :locals => {:name => "elements", :url => { :controller => '/documentations/graph', :action => :elements }}
    = render :partial => '/share/sublink', :locals => {:name => "radar_axis", :url => { :controller => '/documentations/graph', :action => :radar_axis }}
    = render :partial => '/share/sublink', :locals => {:name => "title", :url => { :controller => '/documentations/graph', :action => :title }}
    = render :partial => '/share/sublink', :locals => {:name => "x_axis", :url => { :controller => '/documentations/graph', :action => :x_axis }}
    = render :partial => '/share/sublink', :locals => {:name => "x_legend", :url => { :controller => '/documentations/graph', :action => :x_legend }}
    = render :partial => '/share/sublink', :locals => {:name => "y_axis", :url => { :controller => '/documentations/graph', :action => :y_axis }}
    = render :partial => '/share/sublink', :locals => {:name => "y_axis_right", :url => { :controller => '/documentations/graph', :action => :y_axis_right }}
    = render :partial => '/share/sublink', :locals => {:name => "y_legend", :url => { :controller => '/documentations/graph', :action => :y_legend }}
    = render :partial => '/share/sublink', :locals => {:name => "y2_legend", :url => { :controller => '/documentations/graph', :action => :y2_legend }}

  .title.link.header{ :onclick => "activate_menu('.title');"}
    = render :partial => '/share/sublink', :locals => {:name => "Title", :url => { :controller=>'/documentations/title', :action => 'index'}}
  .title.elements

  .xaxis.link.header{ :onclick => "activate_menu('.xaxis');"}
    = render :partial => '/share/sublink', :locals => {:name => "XAxis", :url => { :controller=>'/documentations/xaxis', :action => 'index'}}
  .xaxis.elements

- pattern = ''
- %w(main graph title xaxis).each do |p|
  - pattern = '.'+p if controller_name =~ /.*#{p}.*/
= javascript_tag "activate_menu('#{pattern}');"
