.top_menu
  .header_text
    OFC2 4 Rails
  - active_class = controller_name =~ /.*infos.*/ ? 'active' : ''
  .link_main{:class =>active_class }
    = link_to "Info", { :controller=>'/infos'}

  .link_main
    = link_to "Grab it!", { :controller=>'/infos', :action => "install" }

  - active_class = controller_name =~ /.*chart_examples.*/ ? 'active' : ''
  .link_main{:class => active_class }
    = link_to "Charts", { :controller=>'/chart_examples', :action => :line}

  - active_class = controller_name =~ /.*welcome.*/ ? 'active' : ''
  .link_main{:class => active_class }
    = link_to "Home", { :controller=>'/welcome'}
:javascript
  <!--
  google_ad_client = "ca-pub-8124173476627883";
  /* podmenu */
  google_ad_slot = "1467839005";
  google_ad_width = 728;
  google_ad_height = 15;
  //-->
= javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
