#top_menu
  #link_main
    = link_to "Info", { :controller=>'infos'}
  #link_main
    = link_to "Grab it!", { :controller=>'infos', :action => "install" }
  #link_main
    = link_to "Documentation", { :controller=>'plugin_documentation'}
  #link_main
    = link_to "Charts", { :controller=>'chart_examples'}
  #link_main
    = link_to "Home", { :controller=>'welcome'}
