= javascript_include_tag 'syntaxHighlight/shBrushBash.js'
You can download any project tag from github site:
%br
= link_to 'http://github.com/korin/open_flash_chart_2_plugin/downloads', 'http://github.com/korin/open_flash_chart_2_plugin/downloads'
%br
or checkout newest code from repository:
.code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:install_plugin]
%br
Memember to copy javascript and swf file from vendor/plugins/ofc2/requirements to app public directory, you can use rake task:
.code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:copy_files]
%br
See Charts section for examples. Read also README file from plugin directory for configuration and code example.
%br
%br
.note
  Plugin is using json.
  .code_example
    - _code = "\# just install as gem \n sudo gem install json"
    %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= _code
%br
%hr
%br
Grab sample application (this project site).
%br
Download any project tag from github site:
%br
= link_to 'http://github.com/korin/open_flash_chart_2/downloads', 'http://github.com/korin/open_flash_chart_2/downloads'
%br
or checkout newest code from repository:
.code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:install_sample_app]
%br
.note
  Application is using haml.
  .code_example
    - _code = "\# just install as gem \n  sudo gem install haml"
    %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= _code

<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = '/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
</script>