You can download any project tag from github site (as a zip file):
%br
= link_to 'http://github.com/korin/open_flash_chart_2_plugin/downloads', 'http://github.com/korin/open_flash_chart_2_plugin/downloads'
%br
or checkout newest code from repository:
.code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:install_plugin]
%br
Remember to copy javascript and swf file from vendor/plugins/open_flash_chart_2/requirements to app public directory, you can use rake task:
.code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:copy_files]
%br
See
= link_to "Charts", {:controller => :chart_examples}
section for examples. Read also README file from plugin directory for configuration and code example.
%br
%br
.note
  If you use rails older that 2.3, you will need json gem.
  .code_example
    - _code = "\# just install as gem, windows users don't need sudo command \n sudo gem install json"
    %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= _code
    %textarea{:name=>"code", :class=>'ruby:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= "#require it in enviroment \n config.gem 'json'"
.note
  If You use rails older that 2.3  you have to uncomment to_json method.
  Lines 17-19 in vendor/plugins/open_flash_chart_2/lib/open_flasch_chart_2.rb file.
%br
%hr
%br
Grab sample application (this project site).
%br
Download any project tag from github site (as a zip file):
%br
= link_to 'http://github.com/korin/open_flash_chart_2/downloads', 'http://github.com/korin/open_flash_chart_2/downloads'
%br
or checkout newest code from repository:
.code_example
  %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}=@files[:install_sample_app]
%br
.note
  Application is using haml.
  .code_example
    - _code = "\# just install as gem, windows users don't need sudo command \n  sudo gem install haml"
    %textarea{:name=>"code", :class=>'sh:nogutter:nocontrols', :cols=>"80", :rows=>"20"}= _code
